<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="es">
<head th:replace="layout/layout :: head"></head>
<body>
<header th:replace="layout/layout :: header"></header>
<h4 class="titulo">Editar Perfil</h4>
<!--Cuerpo de la página-->
<div class="formato-datos-cuenta">
    <form th:action="@{/perfil}" th:object="${usuario}" method="post">
        <div class="form-group">
            <label for="nombreUsuario">Nombre de Usuario</label>
            <input th:field="*{nombre}" type="text" class="form-control casilla" id="nombreUsuario" aria-describedby="emailHelp">
        </div>
        <br>
        <div class="form-group">
            <label for="correo">Correo Electrónico</label>
            <input th:field="*{correo}" type="email" class="form-control casilla" id="correo" aria-describedby="emailHelp">
        </div>
        <br>
        <div class="form-group">
            <label for="telefono">Teléfono</label>
            <input th:field="*{telefono}" type="text" class="form-control casilla" id="telefono">
        </div>
        <br>
        <div class="form-group">
            <label for="direccion">Dirección</label>
            <input th:field="*{direccion}" type="text" class="form-control casilla" id="direccion">
        </div>
        <br>
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn" style="background-color: #c8d6e0;">Actualizar Datos</button>
        </div>
    </form>
</div>
<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>