<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head th:replace="layout/layout :: head"></head>
<body>
<header th:replace="layout/layout :: header"></header>
<h4 class="titulo">Recuperar Contraseña</h4>
<!--Cuerpo de la página-->
<div class="formato-datos-cuenta py-5">
    <form th:action="@{/recuperar-contraseña}" th:object="${usuario}" method="post">
        <div class="form-group">
            <label for="correo">Correo Electrónico</label>
            <br>
            <input type="email" th:field="*{correo}" class="form-control casilla" id="correo" aria-describedby="emailHelp"
                   placeholder="Ingresa email" required>
        </div>
        <br>
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn" style="background-color: #c8d6e0;">Enviar</button>
        </div>
    </form>
</div>
<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>