@media (max-width: 1620px) {

}

@media (max-width: 1500px) {

    .imagen-camiseta {
        margin: 10%;
    }


    .img-ver-camiseta {
        height: 450px;
        width: 450px;
    }

    .descripcion-camiseta {
        height: 450px;
        width: 90%;
    }

}

@media (max-width: 1400px) {

    .contenedor-is {
        margin-top: 2%;
    }

    .img-camiseta {
        height: 200px;
    }

    .tarjeta {
        width: 100%;
        height: 100%;
    }

}

@media (max-width: 1300px) {

    .img-camiseta {
        height: 180px;
    }

    .cuerpo {
        justify-content: center;
    }

    .tarjeta {
        width: 100%;
    }


}

@media (max-width: 1000px) {

    .cuerpo-ver-camiseta {
        flex-direction: column;
    }

    .tarjeta2 {
        width: 205%;
    }

    .descripcion-camiseta {
        width: 125%;
    }

    .al-carrito {
        width: 145%;
    }

}

@media (max-width: 450px) {
    .h-custom {
        height: 100%;
    }
}

@media(min-width:992px){
    .filter,#mobile-filter{
        display: none;
    }
}
@media(min-width:768px) and (max-width:991px){
    .radio, .checkbox {
        padding: 6px 10px;
        width: 49%;
        float: left;
        margin: 5px 5px 5px 0px;
    }
    .filter,#mobile-filter{
        display: none;
    }
}
@media(min-width:576px) and (max-width:767px){
    #sidebar{
        width: 35%;
    }
    #products{
        width: 65%;
    }
    .filter,#mobile-filter{
        display: none;
    }
    .h3 + .ml-auto{
        margin: 0;
    }
}
@media(max-width:575px){
    .wrapper{
        padding: 10px;
    }
    .h3{
        font-size: 1.3rem;
    }
    #sidebar{
        display: none;
    }
    #products{
        width: 100%;
        float: none;
    }
    #products{
        padding: 0;
    }
    .clear{
        float: left;
        width: 80%;
    }
    .btn.btn-success{
        visibility: visible;
        margin: 10px 0px;
        color: #fff;
        padding: 0.2rem 0.1rem;
        width: 20%;
    }
    .green-label{
        width: 50%;
    }
    .btn.text-success{
        padding: 0;
    }
    .content,#mobile-filter{
        clear: both;
    }
}