
/*---- Navbar ----*/
.logo {
    width: 140px;
    height: 50px;
    margin-left: 20px;
}
.nav-link{
    color: black;
}

.nav-link a:hover{
    color: gray;
}

.btn-navbar {
    margin-left: 30px;
    margin-right: 10px;
}

.btn-carrito{
    background-color: white;
    font-size: 20px;
}

.btn-inicio-sesion {
    background-color: white;
    color: black;
}

.titulo {
    margin: 30px;
}

/*---- Vista Index ----*/
.cuerpo {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    margin-left: 100px;
    margin-right: 100px;
}

.tarjeta {
    margin-top: 60px;
    margin-bottom: 80px;
    height: 450px;
    width: 450px;
    background-color: #c8d6e0;
    border-radius: 15px;
}

.imagen-camiseta {
    text-align: center;
    margin: 50px;
}

.tarjeta-info{
    text-align: center;
    margin-top: 25px;
}

.tarjeta-info a{
    color: black;
    text-decoration: none;
}

.tarjeta-info a:hover{
    color: blue;
}

/*---- Footer ----*/

.contenedor-footer {
    background-color: #e3f2fd;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.info-contacto {
    margin: 10px;
    margin-left: 40px;
    margin-top: 20px;
}

.img-footer {
    text-align: right;
    margin: 10px;
    margin-right: 40px;
}

/*---- Formulario Cuenta ----*/

.casilla {
    background-color: #c8d6e0;
    width: 500px;
}

.formato-datos-cuenta {
    margin: 60px;
    display: flex;
    justify-content: center;
}

.formato-datos-cuenta a{
    color: black;
    text-align: center;
    text-decoration: none;
}

.formato-datos-cuenta a:hover {
    color: blue;
}

/*---- Vista Ver Camiseta  ----*/

.cuerpo-ver-camiseta {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.descripcion-camiseta {
    background-color: #575d61;
    height: 500px;
    margin: 50px;
    margin-right: 80px;
    border-radius: 15px;
}

.tarjeta2 {
    margin-top: 60px;
    margin-bottom: 80px;
    margin-left: 80px;
    height: 600px;
    width: 600px;
}

.info-camiseta {
    height: 500px;
    width: 50%;
    margin: 50px;
    margin-right: 80px;
}

.btn-al-carrito {
    width: 100px;
}

.texto-camiseta {
    color: white;
    text-align: center;
    font-size: large;
    padding-top: 50px;
}
/* ---- Vista Carrito ----*/
.tabla-carrito {
    width: 70%;
}

.tabla-carrito thead {
    border-radius: 15px;
}
.cuerpo-carrito {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 80px;
}

.encabezado-carrito {
    background-color: #c8d6e0;
    text-align: center;
    border-radius: 15px;
}

.texto-ec {
    padding: 10px;
    text-align: center;
}

.texto-cc {
    padding: 10px;
    text-align: center;
    border-bottom: 10px;
    border-color: #575d61;
}

.fila {
    border-bottom: #c8d6e0;
}

/* ----------  Formulario ---------------*/
.btn-añadir {
    width: 12%;
    margin-right: 100px;
}