
/*---- Navbar ----*/
.logo {
    width: 140px;
    height: 50px;
    margin-left: 20px;
}
.nav-link{
    color: black;
}

.nav-link a:hover{
    color: gray;
}

.btn-navbar {
    margin-left: 30px;
    margin-right: 10px;
}

.btn-carrito{
    background-color: white;
    font-size: 20px;
}

.btn-inicio-sesion {
    background-color: white;
    color: black;
}

.titulo {
    margin: 30px;
}

/*---- Vista Index ----*/
.cuerpo {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    margin-left: 8%;
    margin-right: 8%;
}

.imagen-camiseta {
    text-align: center;
    margin: 10%;
    margin-left: 16%;
}

.img-camiseta{
    height: 300px;
    width: 100%;
    padding: 2%;
}


/*---- Footer ----*/

#footer {
    margin-top: 6%;
}

.img-footer {
    text-align: center;
    margin: 10px;
    margin-right: 40px;
}

.footer {
    margin-top: 6%;
}

/*---- Formulario Cuenta ----*/

.casilla {
    background-color: #c8d6e0;
    width: 500px;
}

.formato-datos-cuenta {
    margin: 60px;
    display: flex;
    justify-content: center;
}

.formato-datos-cuenta a{
    color: black;
    text-align: center;
    text-decoration: none;
}

.formato-datos-cuenta a:hover {
    color: blue;
}

/*---- Vista Ver Camiseta  ----*/

.cuerpo-ver-camiseta {
    display: flex;
    justify-content: center;
}

.camiseta {
    width: 40%;
}

.info-camiseta {
    height: 500px;
    width: 60%;
    margin: 50px;
    margin-right: 80px;
}

.tarjeta2 {
    margin-top: 13%;
    margin-bottom: 20%;
    margin-left: 80px;
    height: 600px;
    width: 90%;
}

.descripcion-camiseta {
    background-color: #575d61;
    height: 500px;
    margin: 50px;
    margin-right: 10%;
    border-radius: 15px;
}

.img-ver-camiseta {
    height: 550px;
    width: 550px;
    margin: auto;
}

.texto-desc-camiseta {
    color: white;
    text-align: center;
    font-size: large;
    padding-top: 5%;
}

.texto-camiseta {
    color: white;
    font-size: large;
    margin-top: 3%;
    margin-left: 5%;
}

.btn-al-carrito {
    width: 100px;
}

/* ---- Vista Carrito ----*/

.resumen {
    background-color: #c8d6e0;
}

/* ----------  Vista Admin ---------------*/
.btn-añadir {
    width: 12%;
    margin-right: 100px;
}

.btn-actualizar {
    margin-top: 50px;
}

/* ----------  Formulario ---------------*/
.casilla-camiseta {
    width: 500px;
}

.formato-datos-camiseta {
    margin: 60px;
    padding: 5%;
    display: flex;
    justify-content: center;
    background-color: #c8d6e0;
    border-radius: 15px;
}

.subir-imagen{
    background-color: white;
    border-radius: 15px;
    padding: 30%;
    height: 90%;
    margin-bottom: 10%;
}

.subir-imagen img {
    width: 150px;
    height: 150px;
}

.imagen-camiseta {
    margin-right: 50px;
    width: 50%;
}

.formulario-camiseta {
    margin-left: 50px;
}

/*---- Vista Nosotros ----*/
.nosotros-info {
    margin-top: 5%;
    margin-left: 8%;
    font-size: large;
}

/*---- Vista Inicio de Sesión ----*/

.contenedor-is {
    background-color: #c8d6e0;
    padding: 3%;
    border-radius: 30px;
}

.img-google {
    height: 50px;
    width: 50px;
}

.btn-is {
    background-color: #44115C;
    color: #fff;
}

.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}
.h-custom {
    height: calc(100% - 73px);
}

.img-fluid2 {
    max-width: 100%;
    height: auto;
    margin-left: 16%;
}

.btn-r {
    background-color: #01B201;
    color: #fff;
}