
/*---- Navbar ----*/
.logo {
    width: 140px;
    height: 50px;
    margin-left: 20px;
}
.nav-link{
    color: black;
}

.nav-link a:hover{
    color: gray;
}

.btn-navbar {
    margin-left: 30px;
    margin-right: 10px;
}

.btn-carrito{
    background-color: white;
    font-size: 20px;
}

.btn-inicio-sesion {
    background-color: white;
    color: black;
}

.titulo {
    margin: 30px;
}

.bg-recuperar-contraseña {
    background-color: #c8d6e0;
}

/*---- Vista Index ----*/
.cuerpo {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    margin-left: 8%;
    margin-right: 8%;
}

.imagen-camiseta {
    text-align: center;
    margin: 10%;
    margin-left: 16%;
}

.img-camiseta{
    height: 300px;
    width: 100%;
    padding: 2%;
}


/*---- Footer ----*/

#footer {
    margin-top: 6%;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.img-footer {
    text-align: center;
    margin: 10px;
    margin-right: 40px;
}

.footer {
    margin-top: 6%;
}

/*---- Formulario Cuenta ----*/

.casilla {
    background-color: #c8d6e0;
    width: 500px;
}

.formato-datos-cuenta {
    margin: 60px;
    display: flex;
    justify-content: center;
}

.formato-datos-cuenta a{
    color: black;
    text-align: center;
    text-decoration: none;
}

.formato-datos-cuenta a:hover {
    color: blue;
}

/*---- Vista Ver Camiseta  ----*/

.cuerpo-ver-camiseta {
    display: flex;
    justify-content: center;
}

.camiseta {
    width: 40%;
}

.info-camiseta {
    height: 500px;
    width: 60%;
    margin: 50px;
    margin-right: 80px;
}

.tarjeta2 {
    margin-top: 13%;
    margin-bottom: 20%;
    margin-left: 80px;
    height: 600px;
    width: 90%;
}

.descripcion-camiseta {
    background-color: #575d61;
    height: 500px;
    margin: 50px;
    margin-right: 10%;
    border-radius: 15px;
}

.img-ver-camiseta {
    height: 550px;
    width: 550px;
    margin: auto;
}

.texto-desc-camiseta {
    color: white;
    text-align: center;
    font-size: large;
    padding-top: 5%;
}

.texto-camiseta {
    color: white;
    font-size: large;
    margin-top: 3%;
    margin-left: 5%;
}

.btn-al-carrito {
    width: 100px;
}

/* ---- Vista Carrito ----*/

.resumen {
    background-color: #c8d6e0;
}

/* ----------  Vista Admin ---------------*/
.btn-añadir {
    margin-right: 5%;
    background-color: #0076ad;
    font-weight: 800;
}

.btn-actualizar {
    margin-top: 50px;
}

/* ----------  Formulario ---------------*/
.casilla-camiseta {
    width: 500px;
}

.formato-datos-camiseta {
    margin: 60px;
    padding: 5%;
    display: flex;
    justify-content: center;
    background-color: #c8d6e0;
    border-radius: 15px;
}

.subir-imagen{
    background-color: white;
    border-radius: 15px;
    padding: 30%;
    height: 90%;
    margin-bottom: 10%;
}

.subir-imagen img {
    width: 150px;
    height: 150px;
}

.imagen-camiseta {
    margin-right: 50px;
    width: 50%;
}

.formulario-camiseta {
    margin-left: 50px;
}

/*---- Vista Nosotros ----*/
.nosotros-info {
    margin-top: 5%;
    margin-left: 8%;
    font-size: large;
}

/*---- Vista Inicio de Sesión ----*/

.contenedor-is {
    background-color: #c8d6e0;
    padding: 3%;
    border-radius: 30px;
}

.img-google {
    height: 50px;
    width: 50px;
}

.btn-is {
    background-color: #44115C;
    color: #fff;
}

.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}
.h-custom {
    height: calc(100% - 73px);
}

.img-fluid2 {
    max-width: 100%;
    height: auto;
    margin-left: 16%;
}

.btn-r {
    background-color: #01B201;
    color: #fff;
}

/* ----------- VER CAMISETA ------------------*/

.cuerpo-show {
    font-family: 'open sans';
    overflow-x: hidden; }

.img-ver-camiseta {
    max-width: 100%; }

.preview {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
@media screen and (max-width: 996px) {
    .preview {
        margin-bottom: 20px; } }

.preview-pic {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; }

.preview-thumbnail.nav-tabs {
    border: none;
    margin-top: 15px; }
.preview-thumbnail.nav-tabs li {
    width: 18%;
    margin-right: 2.5%; }
.preview-thumbnail.nav-tabs li img {
    max-width: 100%;
    display: block; }
.preview-thumbnail.nav-tabs li a {
    padding: 0;
    margin: 0; }
.preview-thumbnail.nav-tabs li:last-of-type {
    margin-right: 0; }

.tab-content {
    overflow: hidden; }
.tab-content img {
    width: 100%;
    -webkit-animation-name: opacity;
    animation-name: opacity;
    -webkit-animation-duration: .3s;
    animation-duration: .3s; }

.card-ver-camiseta {
    margin-top: 50px;
    background: #eee;
    padding: 3em;
    line-height: 1.5em; }

@media screen and (min-width: 997px) {
    .wrapper-ver-camiseta {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex; } }

.details {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }

.txt-destacado{
    text-transform: UPPERCASE;
    font-weight: bold; }

.titulo-ver-camiseta, .desc-ver-camiseta, .precio, .tallas, .cantidad{
    margin-bottom: 15px; }

.titulo-ver-camiseta {
    margin-top: 0; }

.casilla-cantidad {
    width: 20%;
    border-radius: 5px;
    margin-left: 3%;
}

.talla {
    margin-right: 3%; }

.add-to-cart{
    background: #ff9f1a;
    margin-top: 3%;
    padding: 1.2em 1.5em;
    border: none;
    text-transform: UPPERCASE;
    font-weight: bold;
    color: #fff;
    -webkit-transition: background .3s ease;
    transition: background .3s ease; }
.add-to-cart:hover {
    background: #b36800;
    color: #fff; }

.not-available {
    text-align: center;
    line-height: 2em; }
.not-available:before {
    font-family: fontawesome;
    content: "\f00d";
    color: #fff; }

.orange {
    background: #ff9f1a; }

.green {
    background: #85ad00; }

.blue {
    background: #0076ad; }

.tooltip-inner {
    padding: 1.3em; }

@-webkit-keyframes opacity {
    0% {
        opacity: 0;
        -webkit-transform: scale(3);
        transform: scale(3); }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1); } }

@keyframes opacity {
    0% {
        opacity: 0;
        -webkit-transform: scale(3);
        transform: scale(3); }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1); } }