<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="es">
<head>

    <meta charset="UTF-8">
    <title>Pagina no encontrada</title>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>
<body>

<h3>Lo sentimos, pagina no encontrada</h3>
<div th:text="${error}"></div>
<div th:text="${message}"></div>
</body>
</html>