<!DOCTYPE html>
<html lang="es" xmlns:th="http://thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8" />
    <title>LaLiga Premier</title>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
          crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <!-- Conexión CSS -->   
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/image/logo2.png}">
</head>
<body>
<!--Barra de navegación-->
<header th:fragment="header">
    <nav class="navbar navbar-expand-lg" style="background-color: #e3f2fd;">
        <img th:src="@{/image/logo.png}" alt="Logo" class="logo">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/index}">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/equipos}">Equipos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/selecciones}">Selecciones</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/nosotros}">Nosotros</a>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Buscar">
                    <button class="btn btn-navbar" type="submit" style="background-color: white;">🔍︎</button>
                </form>
                <ul class="mb-2 mb-lg-0" style="list-style: none;">
                    <li>
                        <a class="btn btn-navbar btn-carrito" th:href="@{carrito-de-compras}" role="button">🛒</a>
                    </li>
                </ul>
                <ul class="mb-2 mb-lg-0" style="list-style: none;">
                    <li>
                        <a class="btn btn-navbar btn-inicio-sesion" th:href="@{/iniciar-sesion}" role="button">Iniciar Sesión</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<!--Cuerpo de la página-->
<div class="cuerpo" th:fragment="mostrar-camisetas">
    <article class="tarjeta">
        <div class="imagen-camiseta">
            <img th:src="@{/image/Camiseta-messi-firmada.jpg}" alt="Imagen Camiseta" height="300px" width="300px">
        </div>
        <div class="tarjeta-info">
            <a th:href="@{/ver-camiseta}">Camiseta FC Barcelona Messi</a>
        </div>
    </article>
    <article class="tarjeta">
        <div class="imagen-camiseta">
            <img th:src="@{/image/Camiseta-messi-firmada.jpg}" alt="Imagen Camiseta" height="300px" width="300px">
        </div>
        <div class="tarjeta-info">
            <a th:href="@{/ver-camiseta}">Camiseta FC Barcelona Messi</a>
        </div>
    </article>
    <article class="tarjeta">
        <div class="imagen-camiseta">
            <img th:src="@{/image/Camiseta-messi-firmada.jpg}" alt="Imagen Camiseta" height="300px" width="300px">
        </div>
        <div class="tarjeta-info">
            <a th:href="@{/ver-camiseta}">Camiseta FC Barcelona Messi</a>
        </div>
    </article>
    <article class="tarjeta">
        <div class="imagen-camiseta">
            <img th:src="@{/image/Camiseta-messi-firmada.jpg}" alt="Imagen Camiseta" height="300px" width="300px">
        </div>
        <div class="tarjeta-info">
            <a th:href="@{/ver-camiseta}">Camiseta FC Barcelona Messi</a>
        </div>
    </article>
    <article class="tarjeta">
        <div class="imagen-camiseta">
            <img th:src="@{/image/Camiseta-messi-firmada.jpg}" alt="Imagen Camiseta" height="300px" width="300px">
        </div>
        <div class="tarjeta-info">
            <a th:href="@{/ver-camiseta}">Camiseta FC Barcelona Messi</a>
        </div>
    </article>
    <article class="tarjeta">
        <div class="imagen-camiseta">
            <img th:src="@{/image/Camiseta-messi-firmada.jpg}" alt="Imagen Camiseta" height="300px" width="300px">
        </div>
        <div class="tarjeta-info">
            <a th:href="@{/ver-camiseta}">Camiseta FC Barcelona Messi</a>
        </div>
    </article>
</div>
<!--Pié de página-->
<footer class="bg-light text-lg-start" th:fragment="footer">
    <div class="contenedor-footer">
        <div class="info-contacto">
            Contacto: laligapremier@contacto.cl
        </div>
        <div class="img-footer">
            <img th:src="@{/image/logo.png}" alt="Logo" class="logo">
        </div>
    </div>
</footer>
</body>
</html>