<!DOCTYPE html>
<html lang="es" xmlns:th="http://thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, user-scalable=no"/>
    <title>LaLiga Premier</title>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <!-- Conexión CSS -->   
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/responsive.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/principal.css}">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/image/logo2.png}">
</head>
<body>
<!--Barra de navegación-->
<header th:fragment="header">
    <nav class="navbar navbar-expand-lg" style="background-color: #e3f2fd;">
        <img th:src="@{/image/logo.png}" alt="Logo" class="logo">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/}">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/equipos}">Equipos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/selecciones}">Selecciones</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/nosotros}">Nosotros</a>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Buscar">
                    <button class="btn btn-navbar" type="submit" style="background-color: white;">🔍︎</button>
                </form>
                <ul class="mb-2 mb-lg-0" style="list-style: none;">
                    <li>
                        <a class="btn btn-navbar btn-carrito" th:href="@{carrito-de-compras}" role="button">🛒</a>
                    </li>
                </ul>
                <ul class="mb-2 mb-lg-0" style="list-style: none;">
                    <li>
                        <a class="btn btn-navbar btn-inicio-sesion" th:href="@{/iniciar-sesion}" role="button">Iniciar Sesión</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted border-top copyright" th:fragment="footer">

    <section class="">
        <div class="container text-center text-md-start mt-5">
            <div class="row mt-3">

                <!-- Nosotros -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                        <i class="bi bi-info-circle-fill me-3"></i>LaLiga Premier
                    </h6>
                    <a class="text-reset me-3" th:href="@{/nosotros}">Nosotros</a>
                </div>

                <!-- Tecnologías -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                        Tecnologías Utilizadas
                    </h6>
                    <p>HTML</p>
                    <p>CSS</p>
                    <p>JAVA</p>
                    <p>SPRING BOOT</p>
                </div>

                <!-- Contacto -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">Contacto</h6>
                    <p><i class="bi bi-geo-alt-fill me-3"></i> Temuco, Chile</p>
                    <p><i class="bi bi-book me-3"></i> Universidad de la Frontera</p>
                    <p><i class="bi bi-at me-3"></i>g.aillapan01@ufromail.cl</p>
                    <p><i class="bi bi-at me-3"></i>d.ruiz03@ufromail.cl</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Copyright -->
    <div class="text-center p-4 border-top" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2022 Copyright: LaLiga Premier
        <div class="img-footer">
            <img th:src="@{/image/logo.png}" alt="Logo" class="logo">
        </div>
    </div>

</footer>
</body>
</html>