<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="es">
<head th:replace="layout/layout :: head"></head>
<body>
    <header th:replace="layout/layout :: header"></header>
    <h4 class="titulo">Carrito de Compras</h4>
    <!--Cuerpo de la página-->
    <div class="cuerpo-carrito">
        <table class="table tabla-carrito">
            <thead>
                <tr class="encabezado-carrito">
                    <th class="texto-ec">Cantidad</th>
                    <th class="texto-ec">Descripción</th>
                    <th class="texto-ec">Precio</th>
                    <th class="texto-ec">Precio Total</th>
                </tr>
            </thead>
            <tbody>
                <tr class="fila border-bottom">
                    <th class="texto-cc">1</th>
                    <th class="texto-cc">FC Barcelona Messi</th>
                    <th class="texto-cc">$500.000</th>
                    <th class="texto-cc">$500.000</th>
                </tr>
                <tr>
                    <th class="texto-cc">2</th>
                    <th class="texto-cc">FC Barcelona Messi</th>
                    <th class="texto-cc">$500.000</th>
                    <th class="texto-cc">$1.000.000</th>
                </tr>
            </tbody>
        </table>
    </div>
    <footer th:replace="layout/layout :: footer"></footer>
</body>
</html>