<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="es">
<head th:replace="layout/layout :: head"></head>
<body>
    <header th:replace="layout/layout :: header"></header>
    <h4 class="titulo">Formulario</h4>
    <div class="formato-datos-camiseta">
        <form>
            <div>
                <label>Tipo</label>
                <br>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                    <label class="form-check-label" for="exampleRadios1">
                        Equipo
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                    <label class="form-check-label" for="exampleRadios2">
                        Selección
                    </label>
                </div>
            </div>
            <br>
            <div class="form-group col-md-4">
                <label for="liga">Liga</label>
                <select id="liga" class="form-control casilla-camiseta">
                    <option selected>--- Seleccionar Liga ---</option>
                    <option value="1">La Liga</option>
                    <option value="2">Premiere League</option>
                    <option value="3">Serie A</option>
                    <option value="4">Bundesliga</option>
                </select>
            </div>
            <br>
            <div class="form-group col-md-4">
                <label for="equipo">Equipo</label>
                <select id="equipo" class="form-control casilla-camiseta">
                    <option selected>--- Seleccionar Equipo ---</option>
                    <option value="1">FC Barcelona</option>
                    <option value="2">Liverpool</option>
                    <option value="3">Juventus</option>
                    <option value="4">Deportes Temuco</option>
                </select>
            </div>
            <br>
            <div class="form-group">
                <label for="dorsal">Dorsal</label>
                <input type="number" class="form-control casilla-camiseta" id="dorsal">
            </div>
            <br>
            <div class="form-group">
                <label for="jugador">Jugador</label>
                <input type="text" class="form-control casilla-camiseta" id="jugador">
            </div>
            <br>
            <div class="form-group">
                <label for="temporada">Temporada</label>
                <input type="text" class="form-control casilla-camiseta" id="temporada">
            </div>
            <br>
            <div class="form-group">
                <label for="precio">Precio</label>
                <input type="number" class="form-control casilla-camiseta" id="precio">
            </div>
            <br>
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn" style="background-color: #c8d6e0;">Publicar</button>
            </div>
        </form>
    </div>
    <footer th:replace="layout/layout :: footer"></footer>
</body>
</html>