<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="es">
<head th:replace="layout/layout :: head"></head>
<body>
    <header th:replace="layout/layout :: header"></header>
    <div class="container py-4">
        <div class="card bg-dark text-white">
            <div class="card-header" th:text="${titulo}"></div>
            <div class="card-body">
                <div th:object="${camiseta}" th:remove="tag">
                    <ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                        <li th:each="err: ${#fields.errors('*')}" th:text="${err}"></li>
                    </ul>
                </div>
                <form th:action="@{/form}" th:object="${camiseta}" method="post" enctype="multipart/form-data">
                    <div class="form-group row py-2">
                        <label class="col-sm-2 col-form-label">Tipo</label>
                        <div class="col-sm-6">
                            <select th:field="*{tipoCamiseta}">
                                <option th:each="tipoCamiseta : ${tipoCamisetas}"
                                        th:text="${tipoCamiseta.tipo}"
                                        th:value="${tipoCamiseta}">
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row py-2">
                        <label class="col-sm-2 col-form-label">Equipo</label>
                        <div class="col-sm-6">
                            <input type="text" th:field="*{equipo}" class="form-control"
                                   th:errorclass="'form-control alert-danger'" /> <small
                                class="form-text text-danger"
                                th:if="${#fields.hasErrors('equipo')}" th:errors="*{equipo}"></small>
                        </div>
                    </div>
                    <div class="form-group row py-2">
                        <label class="col-sm-2 col-form-label">Liga</label>
                        <div class="col-sm-6">
                            <input type="text" th:field="*{liga}" class="form-control"
                                   th:errorclass="'form-control alert-danger'" /> <small
                                class="form-text text-danger"
                                th:if="${#fields.hasErrors('liga')}" th:errors="*{liga}"></small>
                        </div>
                    </div>
                    <div class="form-group row py-2">
                        <label class="col-sm-2 col-form-label">Dorsal</label>
                        <div class="col-sm-6">
                            <input type="text" th:field="*{dorsal}" class="form-control"
                                   th:errorclass="'form-control alert-danger'" /> <small
                                class="form-text text-danger"
                                th:if="${#fields.hasErrors('dorsal')}" th:errors="*{dorsal}"></small>
                        </div>
                    </div>
                    <div class="form-group row py-2">
                        <label class="col-sm-2 col-form-label">Jugador</label>
                        <div class="col-sm-6">
                            <input type="text" th:field="*{jugador}" class="form-control"
                                   th:errorclass="'form-control alert-danger'" /> <small
                                class="form-text text-danger"
                                th:if="${#fields.hasErrors('jugador')}" th:errors="*{jugador}"></small>
                        </div>
                    </div>
                    <div class="form-group row py-2">
                        <label class="col-sm-2 col-form-label">Temporada</label>
                        <div class="col-sm-6">
                            <input type="text" th:field="*{temporada}" class="form-control"
                                   th:errorclass="'form-control alert-danger'" /> <small
                                class="form-text text-danger"
                                th:if="${#fields.hasErrors('temporada')}" th:errors="*{temporada}"></small>
                        </div>
                    </div>
                    <div class="form-group row py-2">
                        <label class="col-sm-2 col-form-label">Precio</label>
                        <div class="col-sm-6">
                            <input type="text" th:field="*{precio}" class="form-control"
                                   th:errorclass="'form-control alert-danger'" /> <small
                                class="form-text text-danger"
                                th:if="${#fields.hasErrors('precio')}" th:errors="*{precio}"></small>
                        </div>
                    </div>
                    <div class="form-group row py-2">
                        <label class="col-sm-2 col-form-label">Talla</label>
                        <div class="col-sm-6">
                            <select th:field="*{talla}">
                                <option th:each="talla : ${tallas}"
                                        th:text="${talla.talla}"
                                        th:value="${talla}">
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row py-2">
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Marca</label>
                            <div class="col-sm-6">
                                <select th:field="*{marca}">
                                    <option th:each="marca : ${marcas}"
                                            th:text="${marca.nombre}"
                                            th:value="${marca}">
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row py-2">
                            <label class="col-sm-2 col-form-label">Nombre Camiseta</label>
                            <div class="col-sm-6">
                                <input type="text" th:field="*{nombre}" class="form-control"
                                       th:errorclass="'form-control alert-danger'" /> <small
                                    class="form-text text-danger"
                                    th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></small>
                            </div>
                        </div>
                        <div class="form-group row py-2">
                            <label class="col-sm-2 col-form-label">Descripción</label>
                            <div class="col-sm-6">
                                <input type="text" th:field="*{descripcion}" class="form-control"
                                       th:errorclass="'form-control alert-danger'" /> <small
                                    class="form-text text-danger"
                                    th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}"></small>
                            </div>
                        </div>
                        <div class="form-group row py-2">
                            <label for="file" class="col-sm-2 col-form-label">Foto</label>
                            <div class="col-sm-6">
                                <input type="file" name="file" class="form-control"/>
                            </div>
                        </div>
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <input type="submit" value="Guardar" class="btn btn-secondary" />
                            <td><a class="btn btn-danger btn-xs" th:href="@{/eliminar/} + ${camiseta.id}" th:text="'eliminar'" onclick="return confirm('Estás seguro que quieres eliminar?');"></a></td>
                            <tr></tr>
                        </div>
                    </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <footer th:replace="layout/layout :: footer"></footer>
</body>
</html>