<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head th:replace="layout/layout :: head"></head>
<body>
    <header th:replace="layout/layout :: header"></header>

    <div class="container">
        <div class="card card-ver-camiseta">
            <div class="container-fliud">
                <div class="wrapper row wrapper-ver-camiseta">

                    <!-- Imagen Camiseta-->
                    <div class="preview col-md-6">
                        <div class="preview-pic tab-content">
                            <div class="tab-pane active">
                                <img th:if="${#strings.length(camiseta.imagen) > 0}" th:src="@{'/uploads/' + ${camiseta.imagen}}"
                                     alt="Imagen Camiseta" class="img-ver-camiseta">
                            </div>
                        </div>
                    </div>


                    <!-- Descripción Camiseta-->
                    <div class="details col-md-6">

                        <form th:action="@{/shoppingCart/addProduct/} + ${camiseta.id}" th:object="${item}" method="post">

                            <h3 class="titulo-ver-camiseta txt-destacado" th:text="${camiseta.nombre}"></h3>
                            <p class="desc-ver-camiseta" th:text="${camiseta.descripcion}"></p>
                            <h4 class="precio txt-destacado">Precio: <span th:text="'$' + ${camiseta.precio}"></span></h4>
                            <div class="mt-4">
                                <label>
                                    <h6 class="cantidad txt-destacado">Cantidad <input th:field="*{cantidad}" type="number" class="casilla-cantidad"></h6>
                                </label>
                            </div>
                            <div class="tallas mt-4">
                                <h6 class="txt-destacado tallas">Talla</h6>
                                <label class="radio talla" th:each="talla: ${tallas}">
                                    <input type="radio" name="size" th:field="*{talla}" th:value="${talla}">
                                    <span class="txt-destacado" th:for="${#ids.prev('talla')}" th:text="${talla.talla}"></span>
                                </label>
                            </div>

                            <div class="action d-flex justify-content-center">
                                <button class="add-to-cart btn btn-default" type="submit">Añadir al Carrito</button>
                            </div>

                        </form>

                        <div class="mt-5">
                            <!-- Botón desplegable -->
                            <p>
                                <a class="btn btn-secondary txt-destacado w-100 d-flex align-items-center justify-content-between"
                                   data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="true"
                                   aria-controls="collapseExample">
                                    <span class="fas fa-bars"><span class="ps-3">+ Detalles</span></span>
                                    <span class="fas fa-chevron-down"></span>
                                </a>
                            </p>

                            <!-- Info camiseta -->
                            <div class="collapse show" id="collapseExample">


                                <table class="table dropdown-item border">
                                    <tr>
                                        <th scope="row">Tipo</th>
                                        <td th:text="${camiseta.tipoCamiseta}"></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Liga</th>
                                        <td th:text="${camiseta.liga}"></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Temporada</th>
                                        <td th:text="${camiseta.temporada}"></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Marca</th>
                                        <td th:text="${camiseta.marca}"></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Dorsal</th>
                                        <td th:text="${camiseta.dorsal}"></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Jugador</th>
                                        <td th:text="${camiseta.jugador}"></td>
                                    </tr>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer th:replace="layout/layout :: footer"></footer>
</body>
</html>