<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="es">
<head th:replace="layout/layout :: head"></head>
<body>
<!--Barra de navegación-->
<header th:fragment="header">
    <nav class="navbar navbar-expand-lg" style="background-color: #e3f2fd;">
        <img th:src="@{/image/logo.png}" alt="Logo" class="logo">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/}">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/equipos}">Equipos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/selecciones}">Selecciones</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/nosotros}">Nosotros</a>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Buscar">
                    <button class="btn btn-navbar" type="submit" style="background-color: white;">🔍︎</button>
                </form>
                <ul class="mb-2 mb-lg-0" style="list-style: none;">
                    <li>
                        <a class="btn btn-navbar btn-carrito" th:href="@{carrito-de-compras}" role="button">🛒</a>
                    </li>
                </ul>
                <ul class="mb-2 mb-lg-0" style="list-style: none;">
                    <li>
                        <div class="dropdown">
                            <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <strong>Modo Administrador</strong>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" th:href="@{/editar-perfil}">Editar Perfil</a></li>
                                <li><a class="dropdown-item" th:href="@{/cambiar-contraseña}">Cambiar Contraseña</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" th:href="@{/}">Cerrar Sesión</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
    <div class="inicio-sesion">
        <h4 class="titulo">Camisetas Disponibles</h4>
        <div class="d-flex justify-content-end">
            <a type="button" class="btn btn-primary btn-añadir" th:href="@{/form}">AGREGAR CAMISETA</a>
        </div>
    </div>
<div class="cuerpo" th:fragment="mostrar-camisetas">
    <article class="tarjeta">
        <div class="imagen-camiseta">
            <img th:src="@{/image/camisetas/Camiseta-messi-firmada.jpg}" alt="Imagen Camiseta" class="img-camiseta">
        </div>
        <div class="tarjeta-info">
            <a th:href="@{/ver-camiseta}">Camiseta FC Barcelona Messi</a>
        </div>
        <div class="d-flex justify-content-center">
            <a type="button" class="btn btn-warning btn-actualizar" th:href="@{/formulario}">ACTUALIZAR</a>
        </div>
    </article>
    <article class="tarjeta">
        <div class="imagen-camiseta">
            <img th:src="@{/image/camisetas/camiseta-alexis.jpg}" alt="Imagen Camiseta" class="img-camiseta">
        </div>
        <div class="tarjeta-info">
            <a th:href="@{/ver-camiseta}">Camiseta Inter Alexis</a>
        </div>
        <div class="d-flex justify-content-center">
            <a type="button" class="btn btn-warning btn-actualizar" th:href="@{/formulario}">ACTUALIZAR</a>
        </div>
    </article>
    <article class="tarjeta">
        <div class="imagen-camiseta">
            <img th:src="@{/image/camisetas/camiseta-temuco.png}" alt="Imagen Camiseta" class="img-camiseta">
        </div>
        <div class="tarjeta-info">
            <a th:href="@{/ver-camiseta}">Camiseta Dep. Temuco 2015</a>
        </div>
        <div class="d-flex justify-content-center">
            <a type="button" class="btn btn-warning btn-actualizar" th:href="@{/formulario}">ACTUALIZAR</a>
        </div>
    </article>
    <article class="tarjeta">
        <div class="imagen-camiseta">
            <img th:src="@{/image/camisetas/camiseta-chile.jpg}" alt="Imagen Camiseta" class="img-camiseta">
        </div>
        <div class="tarjeta-info">
            <a th:href="@{/ver-camiseta}">Camiseta Chile 2015</a>
        </div>
        <div class="d-flex justify-content-center">
            <a type="button" class="btn btn-warning btn-actualizar" th:href="@{/formulario}">ACTUALIZAR</a>
        </div>
    </article>
    <article class="tarjeta">
        <div class="imagen-camiseta">
            <img th:src="@{/image/camisetas/cr7-portugal.jpg}" alt="Imagen Camiseta" class="img-camiseta">
        </div>
        <div class="tarjeta-info">
            <a th:href="@{/ver-camiseta}">Camiseta Portugal CR7</a>
        </div>
        <div class="d-flex justify-content-center">
            <a type="button" class="btn btn-warning btn-actualizar" th:href="@{/formulario}">ACTUALIZAR</a>
        </div>
    </article>
    <article class="tarjeta">
        <div class="imagen-camiseta">
            <img th:src="@{/image/camisetas/ronaldo-brasil.jpg}" alt="Imagen Camiseta" class="img-camiseta">
        </div>
        <div class="tarjeta-info">
            <a th:href="@{/ver-camiseta}">Camiseta Brasil Ronaldo</a>
        </div>
        <div class="d-flex justify-content-center">
            <a type="button" class="btn btn-warning btn-actualizar" th:href="@{/formulario}">ACTUALIZAR</a>
        </div>
    </article>
</div>
    <footer th:replace="layout/layout :: footer"></footer>
</body>
</html>