<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="es">
  <head th:replace="layout/layout :: head"> </head>
  <body>
    <header th:replace="layout/layout :: header"></header>
    <h4 class="titulo">Nosotros</h4>
    <div>
      <ul class="nosotros-info">
        <li><strong>Nombre del proyecto:</strong> LaLiga Premier</li>
        <li><strong>Desarrolladores:</strong> Gabriel Aillapán - Daniel Ruiz</li>
        <li><strong>GitHub:</strong> <a href="https://github.com/DanRuizK57/LaLigaPremier">https://github.com/DanRuizK57/LaLigaPremier</a></li>
      </ul>
    </div>
    <footer th:replace="layout/layout :: footer"></footer>
  </body>
</html>
