<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head"></head>
<body>
<header th:replace="layout/layout :: header"></header>

<div class="container mt-5">
  <div class="d-flex justify-content-center row">
    <div class="col-md-12">
      <div class="rounded">
        <div class="table-responsive table-borderless">
          <table class="table">
            <thead>
            <tr>
              <th>Código</th>
              <th>N° Pedido</th>
              <th>Nombre Cliente</th>
              <th>Correo Cliente</th>
              <th>N° Camisetas</th>
              <th>Precio Total</th>
              <th>Fecha</th>
              <th>Detalle</th>
            </tr>
            </thead>
            <tbody class="table-body" th:each="pedido: ${pedidos}">
            <tr class="cell-1">
              <td th:text="${pedido.codigo}"></td>
              <td th:text="${pedido.id}"></td>
              <td th:text="${pedido.usuario.nombre}"></td>
              <td th:text="${pedido.usuario.correo}"></td>
              <td th:text="${pedido.numCamisetas}"></td>
              <td th:text="'$' + ${pedido.precioTotal}"></td>
              <td th:text="${pedido.fecha}"></td>
              <td> <a class="btn btn-primary btn-xs" th:href="@{/ver-pedido/} + ${pedido.id}" th:text="'VER'"></a></td>

            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <nav th:replace="mostrar/paginador :: paginador"></nav>
  </div>
</div>

</body>
</html>